 <div id="registration-dialog" class="modal fade in" tabindex="-1" ng-controller="AuthCtrl as ac">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h2 class="modal-title">Sign Up</h2>
    </div>
      <div class="modal-body">
        <form name="registerForm" ng-submit="ac.register()">
        	
        	<div class="form-group">
        		<input type="text" class="form-control" ng-model="ac.nUser.firstname" placeholder="Firstname">
        	</div>

          <div class="form-group">
            <input type="text" class="form-control" ng-model="ac.nUser.lastname" placeholder="Lastname">
          </div>

           <div class="form-group">
            <input type="email" class="form-control" ng-model="ac.nUser.email" placeholder="Email">
          </div>
        	<div class="form-group">
        		<input type="password" class="form-control" ng-model="ac.nUser.password" placeholder="Password">
        	</div>
        	<button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>