<h2>Здесь информация о нас</h2>



<button class="btn btn-primary" ng-click="abt.hide=!abt.hide">Toggle panel</button>
<div class="panel animate-new"
     ng-class="{active:!abt.hide}"
     ng-show="abt.hide">
	<div class="panel-body ">Hello animation</div>
</div>



<input type="text" class="form-control" ng-model="abt.search">

<div class="list-group" infinite-scroll="abt.loadMore()">
	<div ng-repeat="u in abt.users | filter: abt.search  " class="animate-new">
		<div class="list-group-item">
			<div class="row-picture">
				<img  class="circle" ng-src="{{u.picture}}" alt="icon">
			</div>
			<div class="row-content">
				<h4 class="list-group-item-heading">{{u.name}}</h4>
				<p class="list-group-item-text">{{u.age}}</p>
			</div>
		</div>
		<div class="list-group-separator"></div>
	</div>
	
</div>